<div class="row">
  <h1>FECHA: {{ onematch.fecha_partido }}</h1>
</div>

<div class="row">
  <div class="fondo">
    <div class="col-md-4 col-sd-12">
      <h2><span class="label label-default">EQUIPOS:</span></h2>
      <p>{{ onematch.equipos }}</p>
      <h2><span class="label label-default">EVENTOS:</span></h2>
      <p>{{ onematch.eventos }}</p>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-1 col-sd-9">
    <button type="button" (click)="goBack()">Volver</button>
  </div>
</div>
