<div class="row">
  <h1>FECHA: {{partido.partidos.fecha_inicio}}</h1>
  <h1>HORA: {{partidos.partido.hora_inicio}}</h1>
</div>

<div class="row">
  <div class="fondo">
    <div class="col-md-4 col-sd-12">
      <h2><span class="label label-default">EQUIPOS:</span></h2>
      <p>1: Equipo1</p>
      <p>2: Equipo2</p>
      <h2><span class="label label-default">EVENTOS:</span></h2>
      <p>1: Evento1</p>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-1 col-sd-9">
    <button type="button" (click)="goBack()">Volver</button>
  </div>
</div>
